# <mark>I- Ride Analysis</mark>

- <span style="font-size: 16.38px;"><b>The average trip distance traveled by passengers</b></span>

In [1]:
SELECT 
  AVG(trip_distance) AS average_distance 
FROM 
yellow_tripdata

average_distance
3.847342034098161

- <span style="font-size: 16.38px;"><b>The average fare amount for rides paid with credit cards versus cash&nbsp;</b></span>

In [2]:
SELECT 
  AVG (fare_amount) AS avergae_fare_amount_credit_card 
FROM 
  yellow_tripdata 
WHERE 
  payment_type = 1 

SELECT 
  AVG (fare_amount) AS avergae_fare_amount_cash 
FROM 
  yellow_tripdata 
WHERE 
  payment_type = 2

avergae_fare_amount_credit_card
18.660045072359292

avergae_fare_amount_cash
18.082794555184687

- <span style="font-size: 16.38px;"><b>The vendor (TPEP provider) with the highest number of trips</b></span>

In [1]:
SELECT 
  TOP 1 VendorID, 
  COUNT(VendorID) AS top_number_trips_vendor 
FROM 
  yellow_tripdata 
group by 
  VendorID 
order by 
  top_number_trips_vendor

VendorID,top_number_trips_vendor
1,827367

- <span style="font-size: 16.38px;"><b>The number of trips that were store-and-forward trips versus real-time trips</b></span>

In [6]:
SELECT 
  COUNT(store_and_fwd_flag) AS trip_count_store_and_fwd 
FROM 
  yellow_tripdata 
WHERE 
  store_and_fwd_flag = 'Y'

SELECT 
  COUNT(store_and_fwd_flag) AS trip_count_real_time 
FROM 
  yellow_tripdata 
WHERE 
  store_and_fwd_flag = 'N'

trip_count_store_and_fwd
20003

trip_count_real_time
2975020

# <mark>II- Temporal Analysis</mark>

- <span style="font-size: 16.38px;"><b style="">The top 5 busiest hours of the day in terms of taxi pickups</b></span>

In [8]:
SELECT 
  TOP 5 DATEPART(HOUR, tpep_pickup_datetime) AS hour_of_day,
  COUNT(*) AS number_of_pickups 
FROM 
  yellow_tripdata 
GROUP BY 
  DATEPART(HOUR, tpep_pickup_datetime) 
ORDER BY 
  number_of_pickups DESC;

hour_of_day,number_of_pickups
18,215889
17,209493
15,196424
16,195977
19,192801

- <span style="font-size: 16.38px;"><b>The total fare amount earned on each day of the week</b></span>

In [9]:
SELECT 
  DATENAME(WEEKDAY, tpep_pickup_datetime) AS day_of_week, 
  SUM(fare_amount) AS total_fare_amount 
FROM 
  yellow_tripdata 
GROUP BY 
  DATENAME(WEEKDAY, tpep_pickup_datetime) 
ORDER BY 
  total_fare_amount DESC

day_of_week,total_fare_amount
Tuesday,8985842.05554979
Sunday,8531542.71574158
Thursday,8046236.605793348
Friday,7844027.875660047
Monday,7833272.376093611
Saturday,7653207.594614366
Wednesday,7433372.354479155

- <span style="font-size: 16.38px;"><b>The average trip duration for rides originating from JFK Airport in minutes</b></span>

In [10]:
SELECT 
  AVG(
    DATEDIFF(
      MINUTE, tpep_pickup_datetime, tpep_dropoff_datetime
    )
  ) AS Average_duration_JFK_airport 
FROM 
  yellow_tripdata 
WHERE 
  RatecodeID = 2

Average_duration_JFK_airport
42

- <span style="font-size: 16.38px;"><b>The total number of passengers in each day of January</b></span>

In [13]:
SELECT 
  DISTINCT CONVERT(DATE, tpep_pickup_datetime) AS day_of_week, 
  SUM(passenger_count) AS total_passengers 
FROM 
  yellow_tripdata 
WHERE 
  tpep_pickup_datetime LIKE '2023%' 
  AND tpep_pickup_datetime NOT LIKE '2023-02%' 
GROUP BY 
  CONVERT(DATE, tpep_pickup_datetime) 
ORDER BY 
  total_passengers DESC

day_of_week,total_passengers
2023-01-14,161472
2023-01-21,157079
2023-01-28,156998
2023-01-07,150762
2023-01-13,148916
2023-01-27,148000
2023-01-26,145634
2023-01-20,144469
2023-01-19,144329
2023-01-12,141916
2023-01-06,138524
2023-01-15,137568
2023-01-25,135646
2023-01-11,135604
2023-01-18,134363
2023-01-05,133863
2023-01-24,131143
2023-01-17,127895
2023-01-10,127417
2023-01-04,126389
2023-01-31,125993
2023-01-22,123464
2023-01-29,120854
2023-01-08,118909
2023-01-03,115287
2023-01-01,113974
2023-01-23,113590
2023-01-09,109354
2023-01-16,108501
2023-01-30,105991
2023-01-02,96851

# <mark>III-Geospatial Analysis:</mark>

- <span style="font-size: 16.38px;"><b>The TLC Taxi Zone with the highest number of drop-offs</b></span>

In [17]:
SELECT 
  TOP 1 DOLocationID, 
  COUNT(DOLocationID) AS top_number_dropoffs
FROM 
  yellow_tripdata 
GROUP BY 
  DOLocationID 
ORDER BY 
  top_number_dropoffs DESC

DOLocationID,top_number_dropoffs
236,146348

- <span style="font-size: 16.38px;"><b>The top 5 TLC Taxi Zones for pick-ups during rush hours</b></span>

In [18]:
SELECT 
  TOP 5 PULocationID, 
  COUNT(PULocationID) AS total_pickups 
FROM 
  yellow_tripdata 
WHERE 
  tpep_pickup_datetime LIKE '%T07%' 
  OR tpep_pickup_datetime LIKE '%T08%' 
  OR tpep_pickup_datetime LIKE '%T09%' 
  OR tpep_pickup_datetime LIKE '%T16%' 
  OR tpep_pickup_datetime LIKE '%T17%' 
  OR tpep_pickup_datetime LIKE '%T18%' 
  OR tpep_pickup_datetime LIKE '%T19%' 
GROUP BY 
  PULocationID 
ORDER BY 
  total_pickups DESC

PULocationID,total_pickups
236,60529
237,59412
132,56821
161,54114
162,46412

- <span style="font-size: 16.38px;"><b>The total number of trips with drop-offs at JFK Airport</b></span>

In [20]:
SELECT 
  COUNT(airport_fee) AS number_dropoffs_JFK 
FROM 
  yellow_tripdata 
WHERE 
  airport_fee = 1.25 
  AND passenger_count > 0

number_dropoffs_JFK
258060

# **<mark>IV-Payment Analysis:</mark>**

- <span style="font-size: 16.38px;"><b style="">The percentage breakdown of different payment made with a credit card versus cash for all trips</b></span>

**1\. Credit Card:**

In [21]:
SELECT 
  (
    COUNT(CASE WHEN payment_type = 1 THEN 1 END) * 100 / COUNT(payment_type)
  ) AS percentage_credit_card 
FROM 
  yellow_tripdata;

percentage_credit_card
78

**2\. Cash:**

In [22]:
SELECT 
  (
    COUNT(CASE WHEN payment_type = 2 THEN 2 END) * 100 / COUNT(payment_type)
  ) AS percentage_cash 
FROM 
  yellow_tripdata

percentage_cash
17

- <span style="font-size: 16.38px;"><b>The total tip amounts for credit card payments versus cash payments</b></span>

In [25]:
SELECT 
  SUM(tip_amount) AS total_tip_credit_card 
FROM 
  yellow_tripdata 
WHERE 
  payment_type = 1		

SELECT 
  SUM(tip_amount) AS total_tip_cash 
FROM 
  yellow_tripdata 
WHERE 
  payment_type = 2

total_tip_credit_card
10057923.860819185

total_tip_cash
891.5100013297051

- <span style="font-size: 16.38px;"><b>The total number of trips that resulted in disputes or voided trips</b></span>

In [26]:
SELECT 
  COUNT(payment_type) AS count_voided_dispute_trips 
FROM 
  yellow_tripdata 
WHERE 
  payment_type = 4 
  OR payment_type = 6

count_voided_dispute_trips
33297

# **<mark>V- Rate Code and Surcharge Analysis:</mark>**

- <span style="font-size: 16.38px;"><b>The rate code that is most commonly used by passengers</b></span>

In [27]:
SELECT 
  TOP 1 RatecodeID, 
  COUNT (RatecodeID) AS count_used_ratecode 
FROM 
  yellow_tripdata 
GROUP BY 
  RatecodeID 
ORDER BY 
  count_used_ratecode DESC

RatecodeID,count_used_ratecode
1,2839305

- <span style="font-size: 16.38px;"><b>The average total amount collected for trips with a negotiated fare rate code</b></span>

In [29]:
SELECT 
  AVG(total_amount) AS avg_amount_negotiated_fare 
FROM 
  yellow_tripdata 
WHERE 
  RatecodeID = 5

avg_amount_negotiated_fare
81.39236327324872

- <span style="font-size: 16.38px;"><b>The total amount of revenue that was generated from the congestion surcharge in January</b></span>

In [30]:
SELECT 
  SUM(congestion_surcharge) AS total_revenue_surcharge_congestion 
FROM 
  yellow_tripdata

total_revenue_surcharge_congestion
6811375

# **<mark>VI- Passenger Count Analysis:</mark>**

- <span style="font-size: 16.38px;"><b>The distribution of passenger counts per trip</b></span>

In [31]:
SELECT 
  passenger_count, 
  COUNT(passenger_count) AS total_trips 
FROM 
  yellow_tripdata 
WHERE 
  passenger_count > 0 
GROUP BY 
  passenger_count 
ORDER BY 
  passenger_count ASC

passenger_count,total_trips
1,2261400
2,451536
3,106353
4,53745
5,42681
6,28124
7,6
8,13
9,1

- <span style="font-size: 16.38px;"><b>The total distance for every specific number of passengers</b></span>

In [38]:
SELECT 
  TOP 8 passenger_count AS passenger_count, 
  SUM(trip_distance) AS total_distance 
FROM 
  yellow_tripdata 
WHERE 
  passenger_count > 0 
GROUP BY 
  passenger_count 
ORDER BY 
  total_distance DESC

passenger_count,total_distance
1,7548936.469985882
2,1775011.109831335
3,389719.1600046884
4,204907.16002671048
5,140099.45999074914
6,91430.09001411684
8,55.519999992102385
7,25.429999388754368

- <span style="font-size: 16.38px;"><b>The average fare amount for trips with a specific number of passengers</b></span>

In [39]:
SELECT 
  DISTINCT(passenger_count) AS passenger_count, 
  AVG(fare_amount) AS avg_fare_amount 
FROM 
  yellow_tripdata 
WHERE 
  passenger_count > 0 
GROUP BY 
  passenger_count 
ORDER BY 
  avg_fare_amount DESC

passenger_count,avg_fare_amount
9,90
8,82.11307701697716
7,68.16666666666667
4,20.90031780841664
2,20.187779590666164
3,19.665432017331003
6,18.010731414327434
5,17.897048581482128
1,17.86487071222939

# **<mark>VII- Airport Analysis:</mark>**

- <span style="font-size: 16.38px;"><b style="">The number of trips originated from Newark Airport</b></span>

In [40]:
SELECT 
  COUNT(*) AS total_trips_newark_airport 
FROM 
  yellow_tripdata 
WHERE 
  RatecodeID = 3

total_trips_newark_airport
8958

- <span style="font-size: 16.38px;"><b>The average fare amount for trips with a pick-up at JFK Airport?</b></span>

In [41]:
SELECT 
  AVG(fare_amount) AS avg_fare_amount_jfk 
FROM 
  yellow_tripdata 
WHERE 
  RatecodeID = 2

avg_fare_amount_jfk
67.81259858724806

- <span style="font-size: 16.38px;"><b>The top 10 trip distances for JFK Airport pick-ups</b></span>

In [42]:
SELECT 
  TOP 10 trip_distance AS trip_distance_jfk 
FROM 
  yellow_tripdata 
WHERE 
  RatecodeID = 2 
GROUP BY 
  trip_distance 
ORDER BY 
  trip_distance_jfk DESC

trip_distance_jfk
14098.5498046875
53.310001373291016
51.77000045776367
51.650001525878906
50.04999923706055
48.849998474121094
47.59000015258789
46.900001525878906
46
45.099998474121094